/*/Comienzo de formulario/*/
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-style: unset;
   color: white;
}
body{
  background-image:url(../img/cielo.jpg) ;
}
.form-register{
    width: 500px;
    background-color: black;
    padding: 50px;
    margin:auto;
    border-radius: 50px;
    font-family:'calibri';
    color:black;
}
.form-register h3{
    font-size: 40px;
    margin-bottom: 10px;
}
.controls{
    width:300px;
    background-color:white; 
    padding: 15px;
    border-radius: 4px;
    margin-bottom:15px;
    font-family:'calibri';
    font-size: 18px;
    color: black;
}
.form-register p{
    height: 40px;
    text-align:center;
    font-size: 18px;
    
}
.form-register a{
    color:white;
    text-decoration: none;

}
.form-register a:hover {
    color:white;
    text-decoration: underline;
}
.form-register .button{
    width: 400px;
    border:none;
    padding:12px;
    margin: 16px 0;
    font-size: 16px;

  /*/Fin de formulario/*/
  /*/Comienzo de nav /*/   
}
p{
  color:white;
  font-size:30px;
}
h3{
  color:white;
}
.container {
    margin: 20px auto;
    width: 80%;
    font-family: justify;
  }
  h1 {
    text-align: center;
    color: white;
    font-size:40px;
  }
  nav {
    background-color:black;
    border-radius:25px;
    padding:5px;
    text-align:center;
  }
  nav div {
    display: inline-block;
    padding: 10px;
    width: 10%;
  }
  .nav-item:hover{
    background-color:blue;
  }
  nav div {
    display: inline-block;
    padding: 10px;
    width: 15%;
  }
  .menu-item:hover{
    background-color:blue;
  }
  .menu-item:active{
    background-color:pink;
  }
  a{
    text-decoration-style:double;
    font-size:25px;
  }
  /*/ Fin de nav/*/ 
  .menu-item:hover{
      background-color: blue;
  }
  .menu-item:active{
    background-color: blue;
  }
  /*/ Pie de pagina/*/

  footer {
    background-color: black;
    clear: both;
    padding: 20px;
    text-align: center;
    margin-top:25px;
    border-radius:25px;
  }
  /*/ Fin de Pagina /*/ 