/*Axel Mauricio Hernández Alvarado  */
/*/Comienzo de formulario/*/
* {
    margin: 0px;
    font-style: unset;
}
body {
   background-image:url(./img/pared\ blanca.avif) ;
   margin: auto;
   background-color: white;
}
header {
     position: sticky;
     top: 0;
     z-index: 1;
}
p{
   color:black;
   font-size:17px;
}
h3{
   color:black;
}
h1 {
    text-align: center;
    color: white;
    font-size:40px;
}
nav {
     background-color:black;
     border-radius:25px;
     padding:5px;
     text-align:center;
     font-family: justify;
     
}
nav div {
     display: inline-block;
     padding: 10px;
     width: 10%;
}
.nav-item:hover{
     background-color:blue;
}
nav div {
     display: inline-block;
     padding: 10px;
     width: 15%;
}

   /*/ Fin de Pagina /*/
.prueba{
    display: flex;
    height: 700px;
} 
.Formulario{
     color: black;
     padding: 20px;
     border: solid black;
     margin-top: 30px;
}
.Formulario li{
     list-style-type:none ;
     padding: 10px;
}

legend{
     font-size: 20px;
}
.izquierdo {
    float: left;
    width: 300px;
    background-color: white;
    height: 800px;
    border: solid black;
    background-image: url(./img/oni.jpg);
    background-repeat: no-repeat;
}

.derecho{
    float: right;
    width: 300px;
    background-color: white;
    height: 800px;   
    border: solid black;
    background-image: url(./img/oni.jpg);
    background-repeat: no-repeat;
}
main{
    flex: 1;
    background-color: white;   
    background-image: url(./img/pared\ blanca.avif);
}
.container{
    font-family: justify;
    padding: 10px;
}
  footer{
    background-color: white;
    text-align: center;
    margin-top: 100px;
    border: solid black;
    height: 40px;
}

 /*Axel Mauricio Hernández Alvarado  */