/*Axel Mauricio Hernández Alvarado  */
* {
    margin: 0px;
    font-style: unset;
    padding: 0px;
}

body {
    background-image: url(./img/pared\ blanca.avif);
    margin: auto;
}

p {
    color: black;
    font-size: 17px;
}

h3 {
    color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

nav {
    background-color: black;
    border-radius: 25px;
    text-align: center;
    height: 60px;
}

nav div {
    display: inline-block;
    padding: 20px;
    width: 10%;
}

.nav-item:hover {
    background-color: blue;
}

nav div {
    display: inline-block;
    padding: 20px;
    width: 10%;
}

#Poder{
    display: flex;
    margin-top: 50px;
}
aside {
    height: 900px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
}
#Izquierdo{
    background-color: white;
    float: left;
    width: 350px;
    background-image: url(./img/oni.jpg);
    background-repeat: no-repeat;
}
#Derecho{
    background-color: white;
    float: right;
    width: 350px;
    background-image: url(./img/oni.jpg);
    background-repeat: no-repeat;
}

main{
    padding: 20px;
    width: 1600px;
    background-image: url(./img/pared\ blanca.avif);
    border: solid black;
}
.docu{
    font-size: 30px;
}
iframe{
    display: block;
}
footer{
    background-color: white;
    text-align: center;
    padding: 20px;
}



/*Axel Mauricio Hernández Alvarado  */