/*Axel Mauricio Hernández Alvarado  */
* {
    margin: 0px;
    font-style: unset;
}

body {
    background-image: url(./img/pared\ blanca.avif);
    margin: auto;
}

p {
    color: black;
    font-size: 17px;
}

h3 {
    color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

nav {
    background-color: black;
    border-radius: 25px;
    text-align: center;
    height: 60px;
    margin-bottom: 40px;

}

nav div {
    display: inline-block;
    padding: 20px;
    width: 10%;
}

.nav-item:hover {
    background-color: blue;
}

nav div {
    display: inline-block;
    padding: 20px;
    width: 10%;
}

.prueba {
    height: 600px;
    
}

.izquierdo {
    float: left;
    width: 300px;
    background-color: white;
    height: 800px;
    border: solid black;
    background-image: url(./img/oni.jpg);
    background-repeat: no-repeat;
}

.derecho {
    float: right;
    width: 300px;
    background-color: white;
    height: 800px;
    border: solid black;
    background-image: url(./img/oni.jpg);
    background-repeat: no-repeat;
}

main {
    flex: 1;
    background-image: url(./img/pared\ blanca.avif);
}
.docu{
    font-size: 30px;
}

.container {
    font-family: justify;
    padding: 10px;
}

footer {
    background-color: white;
    text-align: center;
    border: solid black;
    height: 50px;
    margin-top: 200px;
}

/*Axel Mauricio Hernández Alvarado  */