
body{
    background-image: url('/img/neon.jpg');
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
.form-register{
    width: 500px;
    background-color:blue;
    padding: 50px;
    margin:auto;
    margin-top: 50px;
    border-radius: 50px;
    font-family:'calibri';
    color:black;
}
.form-register h3{
    font-size: 40px;
    margin-bottom: 10px;
}
.controls{
    width:300px;
    background-color:white; 
    padding: 15px;
    border-radius: 4px;
    margin-bottom:15px;
    border: 30 px soid;
    font-family:'calibri';
    font-size: 18px;
}
.form-register p{
    heigth: 40px;
    text-align:center;
    font-size: 18px;
    
}
.form-register a{
    color:white;
    text-decoration: none;

}
.form-register a:hover {
    color:white;
    text-decoration: underline;
}
.form-register .button{
    width: 400px;
    border:none;
    padding:12px;
    margin: 16px 0;
    font-size: 16px;

    
}

.cabeza{
    height: 100px;
    background-color:#03A9F4;
    clear: both;
    

}
.menu{
    width:900px;
    margin:0 auto;
}
nav{
    float: right;

    
}
nav ul li{
    list-style-type:none;
    margin-left:75px;
    padding: 12px 0;
    float: left;
}
nav ul li a{
    text-decoration:none;
    color:#444;
    font-weigth:bold;
}
.hover:hover{
    background-color:blue;
}
.hover:active{
    background-color: black;
}


